<div ng-controller="EntrantController as ctrl" ng-init="ctrl.init(<%= entrant_init(@entry) %>)">
  <h1>{{ctrl.competition.name}}</h1>

  <div ng-if="!ctrl.entry.completed">
    <p>Enter your details to win!</p>

    <form name="entry">
      <div id="error_explanation" ng-if="ctrl.errors">
        Sorry, ther was a problem saving your entry:
        <ul>
          <li ng-repeat="(field, errors) in ctrl.errors">
            {{field}}:
            <span ng-repeat="error in errors">{{error}}</span>
          </li>
        </ul>
      </div>

      <p ng-if="ctrl.competition.requires_entry_name">
        <label for="name">Name</label>
        <input id="name" name="name" ng-model="ctrl.entry.name">
      </p>

      <p>
          <label for="email">Email</label>
          <input id="email" name="email" ng-model="ctrl.entry.email">
      </p>

      <input type="submit" ng-click="ctrl.submit()" value="Enter!">
    </form>
  </div>
  <div ng-if="ctrl.entry.completed">
    <p>Thank you for entering our competition!</p>
  </div>
</div>
