<h1>Competition App</h1>

<h2>Enter competitions below</h2>

<% if @competitions.any? %>
  <ul>
    <% @competitions.each do |competition| %>
      <li><%= link_to competition.name, competition_entrant_page(competition) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Seed your data!</p>
<% end %>

